body{
    max-width: 1270px;
    margin: 0 auto;
}

.card{
    /* border: 1px solid black; */
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(36, 35, 35);
}
img{
    width: 280px;
    height: 300px;
    border-radius:3px;
    /* box-shadow: 5px 5px 10px rgb(139, 136, 136); */
}
button{
    padding: 8px;
  align-self: flex-start;
  font-weight: 700;
  background-color: lightseagreen;
  border-radius: 5px;
  border: none;
  margin:0px 0px 20px 10px;
}