body{
    max-width: 1270px;
    margin: 0 auto;
}
header{
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
}
nav{
    display: flex;
    gap:50px;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    gap:50px;
    font-weight: 600;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    cursor: pointer;
    color: black;
    background-color:rgb(252, 252, 246);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.25s linear;
}
nav div{
    margin: 5px;
}
.card-container{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.card{
    /* border: 1px solid black; */
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(36, 35, 35);
    background-color: antiquewhite;
}
.card:hover{
    background-color: rgb(252, 252, 246);
    height: 410px;
    width: 310px;
    transition: all 0.5s ease-out;
}
img{
    width: 280px;
    height: 300px;
    border-radius:3px;
    /* box-shadow: 5px 5px 10px rgb(139, 136, 136); */
}
.card p{
    margin-left: 10px;
}
button{
  padding: 8px;
  align-self: flex-start;
  font-weight: 700;
  background-color: lightseagreen;
  border-radius: 5px;
  border: none;
  margin:0px 0px 20px 10px;
  cursor: pointer;
}